<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.3.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:964cf73d32da838ee586cfa3fbdfc6cf:dcc69cf7bdff9f4b95bca8b88e6c609c:f2aa588cc19eba997d2715edffade1de$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>sprites.1@3x.png</string>
                <key>size</key>
                <string>{2048,2048}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,176}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{686,10}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,176}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{689,1},{686,10}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,176}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1,13},{686,10}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,168}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{689,13},{216,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{19,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{907,13},{99,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{235,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1008,13},{109,87}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{359,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1119,13},{209,135}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{127,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1330,13},{103,147}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{193,204}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1435,13},{231,150}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{19,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1,165},{608,165}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{131,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{611,165},{199,185}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer8@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{360,194}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{812,165},{291,187}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer7@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{141,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1105,165},{193,211}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{379,194}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1300,165},{327,300}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{84,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1629,165},{131,305}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{19,194}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1762,165},{175,308}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{91,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1,475},{121,354}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer6@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{268,180}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{124,475},{121,354}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{48,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{247,475},{646,426}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,25}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{895,475},{695,509}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,41}</string>
                        <key>spriteSourceSize</key>
                        <string>{724,610}</string>
                        <key>textureRect</key>
                        <string>{{1,986},{724,569}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>sprites.1@2x.png</string>
                <key>size</key>
                <string>{2048,2048}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{68,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{156,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{71,1},{74,60}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{84,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{147,1},{70,100}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{19,111}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{219,1},{146,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{239,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{367,1},{141,92}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{128,135}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{510,1},{156,102}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{87,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{668,1},{134,125}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer7@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{93,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{804,1},{131,143}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{55,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{937,1},{89,205}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{178,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1028,1},{82,238}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{60,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1112,1},{82,238}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer8@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{239,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1196,1},{196,126}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1394,1},{118,207}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{252,129}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1514,1},{220,201}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{13,117}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1,241},{459,8}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{13,117}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{462,241},{459,8}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{13,117}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{923,241},{459,8}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,119}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1384,241},{407,112}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{1,355},{433,285}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{13,16}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{436,355},{465,341}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,27}</string>
                        <key>spriteSourceSize</key>
                        <string>{483,407}</string>
                        <key>textureRect</key>
                        <string>{{903,355},{483,380}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>sprites.1.png</string>
                <key>size</key>
                <string>{1024,1024}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer3.png</string>
                        <key>spriteOffset</key>
                        <string>{5,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{35,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer2.png</string>
                        <key>spriteOffset</key>
                        <string>{77,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{38,1},{39,31}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer4.png</string>
                        <key>spriteOffset</key>
                        <string>{41,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{79,1},{37,51}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer1.png</string>
                        <key>spriteOffset</key>
                        <string>{9,55}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{118,1},{74,27}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer3.png</string>
                        <key>spriteOffset</key>
                        <string>{118,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{194,1},{72,47}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer4.png</string>
                        <key>spriteOffset</key>
                        <string>{63,67}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{268,1},{79,52}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer2.png</string>
                        <key>spriteOffset</key>
                        <string>{42,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{349,1},{69,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer7.png</string>
                        <key>spriteOffset</key>
                        <string>{46,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{420,1},{66,72}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer5.png</string>
                        <key>spriteOffset</key>
                        <string>{27,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{488,1},{46,104}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer6.png</string>
                        <key>spriteOffset</key>
                        <string>{88,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{536,1},{43,120}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer5.png</string>
                        <key>spriteOffset</key>
                        <string>{29,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{581,1},{43,120}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer8.png</string>
                        <key>spriteOffset</key>
                        <string>{119,63}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{626,1},{99,65}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer4.png</string>
                        <key>spriteOffset</key>
                        <string>{5,63}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{727,1},{61,105}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer5.png</string>
                        <key>spriteOffset</key>
                        <string>{125,63}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{790,1},{111,103}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene4/scene4_layer1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,57}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{1,123},{230,6}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene1/scene1_layer1.png</string>
                        <key>spriteOffset</key>
                        <string>{6,57}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{233,123},{230,6}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer2.png</string>
                        <key>spriteOffset</key>
                        <string>{6,57}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{465,123},{230,6}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene3/scene3_layer3.png</string>
                        <key>spriteOffset</key>
                        <string>{5,59}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{697,123},{205,57}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer1.png</string>
                        <key>spriteOffset</key>
                        <string>{15,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{1,182},{217,143}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer2.png</string>
                        <key>spriteOffset</key>
                        <string>{5,7}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{220,182},{234,172}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>scene2/scene2_layer3.png</string>
                        <key>spriteOffset</key>
                        <string>{0,12}</string>
                        <key>spriteSourceSize</key>
                        <string>{241,203}</string>
                        <key>textureRect</key>
                        <string>{{456,182},{241,191}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
